$white: #FFF;
$dark: #444240;
$yellowish-green: #FDFDFB;
$grayish-orange: #F7F5EF;
$pastel-orange: #D4B098;
$light-gray: #E5E5E5;
$grayish-baige: #8B8371;

// fonts
$brownish-orange: #555248;
$black: #1B1A17;