@charset "UTF-8";

@font-face {
  font-weight: 300;
  font-family: Roboto;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Prata;
  src: url("../fonts/Prata-Regular.ttf");
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 98px;
  margin-left: 97px;
}

.list-unmarked {
  list-style: none;
}

.list-item {
  margin-top: 15px;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
}

.link-plain {
  text-decoration: none;
}

.standard-header {
  color: #1B1A17;
  font: 400 32px/43px "Playfair Display", serif;
}

.btn-catalogue {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 205px;
  height: 64px;

  color: #FFF;
  font: 500 12px/14px Roboto, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
}

.line-left::before {
  position: relative;
  left: -15px;

  display: inline-block;
  width: 50px;
  height: 1px;
  margin-left: -50px;

  vertical-align: super;

  background: #8B8371;

  content: "";
}

.line-right::after {
  position: relative;
  right: -15px;

  display: inline-block;
  width: 50px;
  height: 1px;
  margin-right: 50px;

  vertical-align: super;

  background: #8B8371;

  content: "";
}

@media (max-width: 1199px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 799px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .line-left::before, .line-right::after {
    width: 0;
  }

  .line-left::before {
    margin-left: 5px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 85px;

  background-color: #FDFDFB;
}

.menu-top {
  gap: 65px;
  margin: 0 278px 0 266px;
  padding-left: 0;

  font: 400 14px/16px Roboto, sans-serif;
}

.menu-top a {
  color: #555248;
}

.fav {
  position: relative;
}

.circled {
  position: absolute;
  top: -4px;
  right: -6px;
}

.circled-number {
  position: absolute;
  top: -10px;
  right: -2px;

  font-size: 8px;
}

.icons-top {
  position: relative;

  display: flex;
  gap: 23px;
}

@media (max-width: 1199px) {
  .menu {
    justify-content: center;
  }

  .menu-top {
    gap: 15px;
    margin: 0 30px;
  }
}

@media (max-width: 799px) {
  .container img {
    margin: 10px 0;
  }

  .circled-number {
    top: 0;
  }
}

.collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 768px;

  background-color: #FDFDFB;
  background-image: url("../images/ellipse.png");
  background-repeat: no-repeat;
  background-position-x: 466px;
  background-size: contain;
}

.collection-left {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-left: 185px;
}

.collection-left .btn-catalogue {
  background-color: #444240;
}

.collection-headers {
  color: #1B1A17;
  font-family: "Playfair Display", serif;
}

.collection-text {
  margin: 0 0 64px;

  color: rgb(27 26 23 / 82%);
  font: 300 14px/21px Roboto, sans-serif;
}

.collection-watch-price {
  position: absolute;
  top: 149px;
  left: -80px;

  color: #1B1A17;
}

.collection-watch-price p {
  display: inline-block;
  margin: 0 7.3px 0 0;

  font: 16px/22px Prata, serif;
}

.collection-watch-size {
  position: absolute;
  right: -77px;
  bottom: 142px;

  margin: 0;

  color: #1B1A17;
  font: 16px/22px Prata, serif;
}

.collection .image-main {
  position: relative;

  margin-top: 20px;
  margin-right: 197px;
}

.collection .image-main-rado {
  width: 100%;
  height: 100%;
}

.header-main {
  margin-bottom: 16px;

  font-size: 45px;
  line-height: 60px;
}

.header-secondary {
  margin-bottom: 39px;

  font-size: 30px;
  line-height: 40px;
}

@media (min-width: 1499px) {
  .collection {
    justify-content: center;

    background-position: 50%;
  }
}

@media (max-width: 1199px) {
  .collection {
    height: auto;
  }

  .collection-left {
    margin-left: 70px;
  }

  .collection-watch-price {
    top: 20px;
    left: -70px;
  }

  .collection-watch-size {
    right: -97px;
    bottom: 100px;
  }

  .header-main {
    margin-left: 5px;
  }
}

@media (max-width: 799px) {
  .collection {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .collection-headers {
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .collection-left {
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
  }

  .collection-watch-price {
    position: relative;
    top: auto;
    left: auto;

    padding-left: 15px;
  }

  .collection-watch-size {
    position: relative;
    right: auto;
    bottom: auto;

    margin-top: 10px;
    margin-bottom: 10px;
  }

  .collection .image-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }

  .collection .image-main-rado {
    width: 50%;
    height: 50%;
  }
}

.models {
  height: 720px;

  background-color: #FFF;
}

.models-bestsellers {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.models-header {
  margin: 79px 0 52px;
}

.models-items {
  display: flex;
  flex-direction: row;
}

.models-items .first {
  margin-right: 36px;
}

.models-items .second {
  margin-right: 24px;
}

.show-all {
  position: absolute;
  top: 112px;
  right: 0;

  padding-bottom: 10.5px;

  color: #444240;
  font: 500 16px/19px Roboto, sans-serif;
  text-decoration: none;

  border-bottom: 1px solid #C4C0B6;
}

.watch-card {
  flex-direction: column;
  width: 370px;
  height: 467px;

  background-color: #FDFDFB;
}

.watch-card a {
  text-decoration: none;
}

.watch-name {
  margin: 40px 0 10px 40px;

  color: rgb(27 26 23 / 82%);
  font: 700 14px/24px "Playfair Display", serif;
  letter-spacing: 0.03em;
}

.watch-price {
  display: flex;
  flex-direction: row;
  margin-left: 40px;

  color: rgb(27 26 23 / 82%);
  font: 12px/16px Prata, serif;
}

.watch-price p {
  margin: 0 6.2px 0 0;
}

.watch-price img {
  padding-bottom: 2px;
}

.watch-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 313px;
  height: 313px;
  margin-right: auto;
  margin-left: auto;

  background-image: url("../images/ellipse-small.svg");
}

.details {
  margin: 19px 0 40px 88px;

  color: #1B1A17;
  font: 16px/21px "Playfair Display", serif;
}

.line-left-short::before {
  position: relative;
  left: -18px;

  display: inline-block;
  width: 30px;
  height: 1px;
  margin-left: -30px;

  vertical-align: super;

  background: #8B8371;

  content: "";
}

@media (max-width: 1199px) {
  .models {
    height: auto;
  }

  .models-items {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .show-all {
    top: 140px;
    right: 40px;
  }
}

@media (max-width: 799px) {
  .models {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .models-items {
    display: flex;
    flex-direction: column;
  }

  .models-header {
    text-align: center;
  }

  .show-all {
    position: relative;
    top: auto;
    right: auto;
  }

  .watch-card {
    flex-direction: column;
    width: 180px;
    height: auto;
  }

  .watch-name {
    margin: 40px 0 10px 10px;
  }

  .watch-price {
    align-items: center;
    margin-left: 10px;
  }

  .watch-picture {
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;

    background-repeat: no-repeat;
    background-position: center;
  }
}

.banner {
  position: relative;

  display: flex;
  flex-direction: row;
  height: 519px;
}

.banner-left {
  position: relative;

  width: 34%;

  background-color: #F7F5EF;
}

.banner-left img {
  position: absolute;
  top: 52px;
  left: 177px;
}

.banner-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;

  background-color: #FDFDFB;
  background-image: url("../images/ellipse банер-2.svg"), url("../images/ellipse_банер.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom right;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 299px;
}

.description-header {
  margin-top: 0;
  margin-bottom: 35px;

  color: #1B1A17;
  font: 32px/43px "Playfair Display", serif;
}

.description-text {
  margin-top: 0;
  margin-bottom: 45px;

  color: #444240;
  font: 16px/1.5 Roboto, sans-serif;
}

.description .btn-catalogue {
  background-color: #D4B098;
}

.pagination {
  position: absolute;
  bottom: 21px;
  left: 552px;

  display: flex;
  flex-flow: row nowrap;
}

.pagination p {
  margin: 0 20px;
  padding-top: 2px;

  color: rgb(27 26 23 / 82%);
  font: 12px/16px Prata, serif;
}

@media (max-width: 1199px) {
  .banner-left img {
    top: 150px;
    left: 100px;

    width: 90%;
    height: 45%;
  }

  .banner-right {
    background-image: none;
  }

  .description {
    margin-left: 100px;
  }

  .pagination {
    bottom: 80px;
    left: 280px;
  }
}

@media (max-width: 799px) {
  .banner {
    flex-direction: column;
    align-items: center;
    height: auto;

    text-align: center;
  }

  .banner-left {
    position: relative;

    align-items: center;
    width: auto;
  }

  .banner-left img {
    position: relative;
    top: auto;
    left: auto;
  }

  .banner-right {
    width: 100%;
  }

  .description {
    align-items: center;
    margin-left: 10px;
  }

  .pagination {
    position: relative;
    top: auto;
    left: auto;
  }
}

.subscription {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.subscription-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscription-left .standard-header {
  margin: 221px 71px 30px 0;
}

.subscription-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 81px;
}

.subscription-text {
  margin-top: 0;
  margin-bottom: 115px;

  font-size: 16px;
  line-height: 27px;
}

.subscription-icons {
  display: flex;
  gap: 18px;
  align-items: flex-end;
  margin-bottom: 152.5px;
}

.image-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1199px) {
  .subscription-right {
    flex-direction: column;
    max-width: 60%;
  }

  .image-left {
    flex-direction: row;
  }

  .image-left img {
    width: 50%;
  }
}

@media (max-width: 799px) {
  .subscription {
    flex-direction: column;
    align-items: center;

    text-align: center;
  }

  .subscription-left {
    align-items: center;
  }

  .subscription-left .standard-header {
    margin: 20px 0;
  }

  .subscription-right {
    flex-direction: column;
    margin-top: 20px;
  }

  .subscription-right img {
    width: 100%;
    height: 100%;
  }

  .subscription-text, .subscription-icons {
    margin-bottom: 20px;
  }

  .image-left, .image-right {
    flex-direction: column;
  }
}

footer {
  display: flex;
  justify-content: center;

  background-color: #444240;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 63px;
  margin-bottom: 67px;

  column-gap: 118px;
}

.footer-columns h4 {
  margin-bottom: 0;

  color: #FFF;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.col-1 img {
  margin-top: 4px;
}

.nav-bottom {
  margin-top: 18px;

  font-size: 12px;
  line-height: 14px;
}

.nav-bottom ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav-bottom a {
  color: rgb(255 255 255 / 75%);
}

.col-short .nav-bottom {
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .footer-columns {
    column-gap: 25px;
    row-gap: 20px;
  }
}

@media (max-width: 799px) {
  .footer-columns {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 63px 10px 67px;

    column-gap: 15px;
  }

  .footer-columns h4 {
    margin-bottom: 0;

    color: #FFF;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }
}